[2021-11-22 11:21] kendfinger opened #9 "Build issue on macOS Monterey with Xcode 13.1 due to mbedtls"
It appears that with the default instructions for Linux, as applied to macOS, the build fails due to mbedtls in the recommended branch and new clang warnings involving potentially incorrect string concatenation.

**Environment**:

OS: macOS 12.0.1 (21A559) Darwin 21.1.0
Hardware: Apple M1 Max
Architecture: arm64
Xcode: 13.1 (13A1030d)

**Clang**:

[code]

esp-idf:  patch-head-4.3-3 (6f21fa91898d1b

[2021-11-22 14:46] floitsch commented on #9
Ideally, there should be a way to disable `-Werror` for submodules as we don't have a (super) easy way to fix warnings there.

If I don't find a good way to do that it might be best to remove `-Werror`.

[2021-11-25 00:40] ceremcem opened #19 "Will you support STM32 platforms?"
Will you support the STM32 platforms?

[2021-11-25 07:34] kasperl commented on #19
We are definitely interested in supporting other platforms. Do you have any particular STM32 platforms in mind?

[2021-11-25 08:55] #19 closed

[2021-11-25 09:16] ceremcem commented on #19
I use STM32F030, STM32F103 and STM32F407 in my projects.

[2021-11-25 12:51] kasperl opened #24 "Cannot build ESP32 firmware on Mac"
Building firmware with Toit for the ESP32 doesn't work on a Mac, because it requires compiling and running 32-bit executables.

[2021-11-25 19:55] bolshoytoster commented on #9
This has been fixed in the official mbedtls repository (https://github.com/ARMmbed/mbedtls/pull/3588) but you could probably get away with just removing the `-Werror` from line 38 in the `CMakeLists.txt` file.

[2021-11-26 08:36] kasperl opened #25 "Driver for touch screen on M5Stack Core2"
Porting existing drivers to Toit is a great place to start contributing to the Toit community. The M5Stack Core2 is a fantastic device. It comes with MIT licensed support for the touch support for the screen, but that support isn't yet available for Toit users:

https://github.com/m5stack/M5Core2/blob/master/src/M5Touch.h

It appears to be based on the FocalTech FT6336 chip and it uses I2C to comm

[2021-11-26 08:37] kasperl commented on #25
Mentioned your work on the MPU6886 here, @imliubo. Thanks again!

[2021-11-26 08:42] imliubo commented on #25
Thanks,has anyone start for touch upport? Maybe I can try it later, but I'm still stuck in other work...

[2021-11-26 08:46] kasperl commented on #25
Not to my knowledge!

[2021-11-26 09:03] kasperl opened #26 "Driver for MCP9808"
The [Adafruit MCP9808](https://www.adafruit.com/product/1782) is a high accuracy I2C-based temperature sensor breakout board. There is no Toit driver package available for it yet. If you have an MCP9808 sensor, we could use your help to build Toit support for it.

Porting existing drivers to Toit is a great place to start contributing to the Toit community. Here is the [source code of another driv

[2021-11-26 09:33] kasperl opened #27 "Driver for Modbus TCP/IP"
[Modbus TCP/IP](https://www.adafruit.com/product/1782) is a data communications protocol used for connecting industrial electronic devices. There is no Toit driver package available for it yet. If you know how the protocol works or if you're interesting in figure it out, we could use your help to build Toit support for it.

Porting existing drivers to Toit is a great place to start contributing to

[2021-11-26 10:05] juergenspecht opened #28 "Driver for ePaper Display of the M5Paper Device"
The **M5Paper** from M5Stack has a fantastic high resolution ePaper display with 16 grayscale levels and its even quite fast. But the original documentation is a real mess and its little fun to develop for it - the perfect candidate to add more value by Toit-enhancing it ;)

More Info is here: https://docs.m5stack.com/en/core/m5paper

[2021-11-26 10:38] kasperl opened #29 "Driver for Sensirion SCD30"
The [Sensirion SCD30](https://www.sensirion.com/en/environmental-sensors/carbon-dioxide-sensors/carbon-dioxide-sensors-scd30/) is a sensor module for HVAC and indoor air quality applications. There is no Toit driver package available for it yet. If you have an SCD30 sensor, we could use your help to build Toit support for it.

Porting existing drivers to Toit is a great place to start contributing

[2021-11-26 12:25] juergenspecht commented on #29
I have 4 of these sensors lying around, so happy to help with the testing. However, I am still a Toit beginner, so not able to actually write this driver.

[2021-11-26 15:53] justind000 opened #32 "Add support for BLE server"
Just writing to see if a BLE server implementation is being worked on. Specifically, what I'd like to see is turning the ESP32 into a server that other devices connect to, that creates characteristics and updates their values.

I have taken a look through [ble.toit ](https://github.com/toitlang/toit/blob/master/lib/ble.toit) and it looks like some of the primitives are already there.

- [x] Device

[2021-11-27 06:09] kasperl commented on #32
Yes, you're right. We are using NimBLE. We are not actively working on adding the last parts of the BLE implementation right now (as in the coming week), but we'd love to explore this with you.

For reference, the [resources/ble_esp32.cc](https://github.com/toitlang/toit/blob/master/src/resources/ble_esp32.cc) and [event_sources/ble_esp32.cc](https://github.com/toitlang/toit/blob/master/src/event_

[2021-11-27 06:11] kasperl commented on #32
I've taken the liberty of turning your question into a feature request :)

[2021-11-27 06:28] justind000 commented on #32
I'm interested in the platform and am currently writing a few I2C drivers to get familiar with it.

A BLE server isn't on my short list either, but I have found it very useful to have for provisioning and interacting with the device through an app ([web BLE](https://googlechrome.github.io/samples/web-bluetooth/) maybe since you are already using web serial).

If I start playing around with it and

[2021-11-27 10:54] kasperl commented on #32
Thanks, @justind000!

[2021-11-28 03:06] gregger2k commented on #27
Don't leave out Modbus Serial!
Not everything has TCP/IP

[2021-11-29 16:23] imliubo commented on #25
A very simple driver for FT63xx capacitive touch chip.
[Link](https://github.com/imliubo/ft63xx-toit)

[2021-11-29 23:10] nilwes commented on #26
I have something up and running, including temperature alerts, albeit only integer temperatures so far.

[2021-11-30 23:48] kendfinger commented on #27
I would love to take this on in my free time! Modbus has a bit of a special place in my heart as an old protocol that is still deployed widely.

@gregger2k I will be more than happy to work on Modbus RTU as well, in fact to implement TCP/IP you are are just wrapping Modbus RTU in a header. Also common is Modbus RTU over TCP (RTU encapsulation), which is often used when a serial to ethernet convert

[2021-12-01 10:23] kasperl commented on #25
Fixed by @imliubo here: https://pkg.toit.io/package/github.com%2Fimliubo%2Fft63xx-toit.

Fantastic work!

[2021-12-01 10:23] #25 closed

[2021-12-01 10:44] floitsch commented on #24
Also see #9 for another mac issue.

[2021-12-01 10:45] kasperl opened #34 "Build issue using grep (BSD grep, GNU compatible) 2.6.0-FreeBSD"
Using grep (BSD grep, GNU compatible) 2.6.0-FreeBSD on macOS to build the tools:

[code]

leads to:

[code]

[2021-12-01 10:50] floitsch opened #35 "Ensure that standard libraries don't try to use System process"
The OSS edition doesn't have any system process. However, some libraries still use RPC to request information (for example `device.hardware_id`).

These libraries need to be rewritten.

[2021-12-01 10:51] floitsch opened #36 "New project skeleton"
It should be easy to create a new project without modifying a full checkout of the toit repository.
The toit checkout should be shared among different projects.

[2021-12-01 10:52] floitsch opened #37 "Make it possible to deep sleep"
We need to expose the deep_sleep functionality in a nice way.

[2021-12-01 10:58] kasperl commented on #37
Adding a method like this somewhere in the core libraries, could be a good first step:

[code]

This allows you to enter deep sleep for 30 seconds simply by writing:

[code]

[2021-12-01 10:58] floitsch opened #38 "Improve random entropy"
We should invoke `random_add_entropy_` with meaningful values.

[2021-12-01 11:00] floitsch opened #39 "Improve development experience for contributions"
We need add our tests, and set up a CI pipeline.
This would also allow Toitware devs to develop directly in this repository.

[2021-12-01 11:00] floitsch opened #40 "Add support for ESP32-S3"

[2021-12-01 11:07] kasperl opened #41 "Document how to build on Windows hosts"
The instructions in the README file only show how to do this Linux and macOS hosts.

[2021-12-01 11:15] floitsch opened #42 "Update README on how to use the VSCode extension"
The vscode extension works with just the OSS code.
Add documentation on how to do that.

[2021-12-01 18:52] dsobotta opened #43 "Add RISC-V 64-bit platform support (SiFive Unmatched + QEMU)"
I've made some good progress on the SiFive Unmatched.  For anyone else looking to contribute, feel free to use [my fork](https://github.com/dsobotta/toit-riscv) as a starting point.  I'll issue a PR back into mainline once things have stabilized a bit.

* [x] build environment
* [x] IDF environment
* [X] IDF compile
* [ ] IDF export
* [x] Toit generate build files
* [x] Toit compile sources
* [x]

[2021-12-01 23:45] dsobotta commented on #43
Currently blocked by [is_directory: Invalid argument](https://github.com/dsobotta/toit-riscv/issues/3) .  This is reproducible in a QEMU/riscv64 environment following my [build steps](https://github.com/dsobotta/toit-riscv).  Is this something you could take a look at @kasperl ?

[2021-12-02 00:39] mikini commented on #34
Bugger, sorry for breaking the build :-|.

Suspected some platforms could potentially have an issue with this [when explicitly noting](https://github.com/toitlang/toit/pull/21#issue-1063051130) the use of [lookaround (PCRE feature)](https://www.pcre.org/original/doc/html/pcresyntax.html#SEC19)  and possible GNU grep specific command line option in commitlog, but expected the PR/review to reveal th

[2021-12-02 05:38] #34 closed

[2021-12-02 05:42] kasperl commented on #43
Will take a look, @dsobotta!

[2021-12-02 05:57] mikini opened #45 "components/lwip/lwip issue on Toitware esp-idf fork"
There seems to be a problem with the registered hash of the components/lwip/lwip submodule in Toitware esp-idf fork.

Relevant excerpt when following README.md procedure:
[code]

Complete dump:
[code]

[2021-12-02 08:58] erikcorry commented on #45
This works for me.  I ran the same commands as your dump and it worked.  You have a strange line:

[code]

In the middle of the text "50148/50148" there is an inserted text "Cloning into 'components/lwip/lwip'..."

It's as if there are two clones going on at once, or you have a background program and a foreground program trying to do the same thing twice?

Does it work to delete everything and sta

[2021-12-02 11:57] kasperl commented on #24
Fixed in e8f9e93e27c827a59123d736c33280ad654a4042.

[2021-12-02 12:39] #24 closed

[2021-12-02 12:49] lask opened #51 "Missing make flash target"
When I build an image for ESP32 with `make esp32`, I get the following output:
[code]
However, there is no `make flash` target.
[code]

[2021-12-02 14:56] justind000 commented on #41
Not a ton of detail, but these are the steps I wrote down under Windows 10 to get this project compiled.

Install Debian from the [Windows Store](https://www.microsoft.com/store/productId/9MSVKQC78PK6)

Open the Debian terminal and enter everything below:

This is all set to work from ~
`cd ~`

Update first and install everything needed
[code]

Grab ESP-IDF
[code]

Export the path, add it to .bash

[2021-12-02 15:23] justind000 commented on #37
Sleeping for a duration and sleeping until a pin interrupt occurs are the two methods I use most commonly: sending measurements every x time-period and doing something when a button is pressed.

[2021-12-02 20:36] kasperl commented on #42
Fixed in de5631b0879e22cc6702cccc65a06b01bfa3a5ed.

[2021-12-02 20:36] #42 closed

[2021-12-02 23:29] mikini commented on #45
You're right, that looks really strange. I did it a couple fo times, but have nothing of any sorts, that could trigger anything running in parallel. Although I pasted the 5 commands into the shell in one go, but that usually works fine.

This is on a spare machine running Ubuntu 16.04 (EOL'ed) with git version 2.7.4. On Ubuntu 20.04 it also works for me, but when I inspect the repo I can't locate

[2021-12-03 07:02] kasperl commented on #37
Thanks for the comment, @justind000. Would something like these two methods - `enable_external_wakeup` and `wakeup_cause` serve your needs?

[code]

[2021-12-03 08:41] kasperl opened #58 "Stop WiFi when the last network interface is closed"
We currently start WiFi when the first network interface is opened, but we forget to stop it again when the last one is closed.

https://github.com/toitlang/toit/blob/master/lib/net/impl.toit#L52

[2021-12-03 15:10] justind000 commented on #37
Yes, it would. I make sensor devices, so for me, the typical application flow looks like this:

1. init system and check wakeup reason, if GPIO, that means a button was pressed by the user to do something (usually configuration related)
2. take and process sensor measurement
3. set GPIO interrupt (connected to a button) and deep sleep for x duration

[2021-12-03 15:10] justind000 commented on #37
Yes, it would. I make sensor devices, so for me, the typical application flow looks like this:

1. init system and check wakeup reason, if GPIO, that means a button was pressed by the user to do something (usually configuration related)
2. take and process sensor measurement
3. set GPIO interrupt (connected to a button) and deep sleep for x duration

[2021-12-04 05:36] kasperl commented on #37
Started working on this.

[2021-12-04 05:51] kasperl commented on #45
Should we close this is working as intended for now, @mikini?

[2021-12-04 05:58] kasperl commented on #37
@justind000 You can check out the https://github.com/toitlang/toit/tree/deep-sleep branch and try the example:

[code]

This leads to this serial output:

[code]

[2021-12-04 06:08] kasperl opened #64 "Disable verbose serial logs from virtual machine by default"
The Toit virtual machine produces a good deal of noise in the serial output. It would be nice if this was controllable through a compile-time flag.

We should look for prints (`printf` and friends) in the code base and hide them behind a `TOIT_VERBOSE` compile-time flag or something similar.

[2021-12-04 06:10] kasperl commented on #64
The unnecessary (in most cases) output is something like this:

[code]

and this:

[code]

[2021-12-04 10:43] dsobotta commented on #43
Made some good progress on cross-compiling.

I added a few entries to 'Makefile' (and added toolchains/riscv64.cmake) to get cross-compiling of Toit binaries from amd64 host -> riscv64 working.  It successfully generates build/riscv64/bin/{lib/, mbedtls, toitc, toitvm}.  These binaries have been validated on RISC-V hardware, and appear to run the examples with the same results as toitvm/toitc bina

[2021-12-04 20:01] #37 closed

[2021-12-05 06:36] #51 closed

[2021-12-05 06:55] kasperl opened #66 "Running examples/http.toit leads to out-of-memory on ESP32"
Flashing using:

[code]

leads to serial output like this:

[code]

Looks like a bad merge?

[2021-12-05 07:38] dsobotta opened #67 "Add ARM/Linux platform support (QEMU, all non-Pico Raspberry Pi variants)"
This could be relatively straightforward extension of the the tooling added for RISC-V/Linux platform support.

* [x] build environment
* [x] IDF environment
* [ ] IDF compile sources
* [ ] IDF export
* [x] Toit generate build files
* [x] Toit compile sources
* [x] Toit generate snapshot
* [x] Toit run examples
* [x] Add makefile support to cross-compile binaries for 32/64bit ARM

[2021-12-05 07:42] kasperl commented on #66
It isn't an out-of-memory situation, but rather a corrupt encoded array of snapshot arguments. The length is a bit more than 36k, which is too much to allocate memory for.

[2021-12-05 09:18] #66 closed

[2021-12-05 09:24] kasperl opened #71 "Unconfigured ESP32 WiFi leads to weird exception when opening network interface"
Right now, it is hard to see that:

[code]

is because the WiFi isn't configured. We should make this easier to see.

[2021-12-05 09:26] kasperl opened #72 "Decoding exception stack traces using tools/system_message.toit doesn't work on macOS"
Running:

[code]

leads to:

[code]

[2021-12-05 19:43] mikini commented on #45
I've been looking a bit into this as I think I see an inconsistency on the Toitware fork, that is somehow mitigated by more recent git clients.

The fork is actually referencing a commit for the submodule which is part of another repository than the repository indicated by .gitmodules (Toitware vs Espressif). Whether this can lead to other problems than the one I experienced using an old git clien

[2021-12-05 20:12] kasperl commented on #72
Fixed in c18d67e1365d2f179976c1be66d472f9639743f0.

[2021-12-05 20:12] #72 closed

[2021-12-06 08:17] dsobotta commented on #67
32-bit ARM/Linux host is working without modification on latest (verified on Raspberry Pi Zero W).

[2021-12-06 10:59] dsobotta opened #77 "STL warnings when compiling for ARM32"
Occurs whether on an arm32 host, or cross-compiling.  Build succeeds and binaries/tests work as expected.
[code]

[2021-12-06 16:15] erikcorry commented on #77
https://github.com/nlohmann/json/issues/658 says we need to add -Wno-psabi

[2021-12-07 19:32] kasperl opened #88 "Submodule path 'esp-idf/components/coap/libcoap/ext/tinydtls' do not contain 7f8c86e501e690301630029fa9bae22424adf618"
Following the new instructions for getting Toitware's ESP-IDF fork:

[code]

on macOS leads to this output for me:

[code]
[code]

[2021-12-07 19:33] kasperl commented on #88
Could be related to #45, @mikini?

[2021-12-07 20:33] dsobotta opened #89 "Add ESP32-C3 (32-bit RISC-V) platform support"
Should be possible with some tweaks and extensions to the Toit build pipeline.

[2021-12-09 09:02] dsobotta commented on #89
What would it take to utilize cmake or idf.py instead of make?

libtoit is compiling with the changes found here: https://github.com/dsobotta/toit

After compiling libtoit_image.a , we get the following errors:

[dusten@dls-shuttle toit]$ make esp32 ESP32_CHIP=esp32c3
mkdir -p build/esp32c3/
make -C toolchains/esp32c3 -s /home/dusten/git/toit/build/esp32c3/include/sdkconfig.h
Toolchain path: /home

[2021-12-09 09:11] dsobotta commented on #89
And here are the ESP-IDF changes necessary to get this far:

[code]

[2021-12-13 09:30] jstroem opened #118 "dll files missing on windows"
Tried to execute `toitvm.exe` and `toitc.exe` from the windows artifact in the release.
It fails with errors on two missing dll files: `libgcc_s_seh-1.dll` and `libwinpthread-1.dll`.

[2021-12-13 13:55] jstroem opened #126 "GC fails on windows"
Running on windows I get this once the GC kicks in:
[code]

[2021-12-13 20:54] kasperl commented on #9
Fixed in 35c4e9e49087fcb661a6002c2e2314cfefaa64fc.

[2021-12-13 20:54] #9 closed

[2021-12-13 20:57] kasperl opened #130 "Clang 13 on macOS mis-compiles third_party/esp-idf/components/mbedtls"
The Toit virtual machine compiled with Clang 13 on macOS, does not have a working TLS implementation. Clang 12.0.5 generates the correct code.

Could be related to https://github.com/ARMmbed/mbedtls/issues/5052.

[2021-12-13 21:02] kasperl commented on #130
At least one problem is here: https://github.com/espressif/mbedtls/blob/6465247f67167518b8813ae2faaf422704e4b1a3/include/mbedtls/bn_mul.h#L258.

This should be fixed like here: https://github.com/ARMmbed/mbedtls/commit/d337fbc4cb1ded1d58a1c4fe92aa9988d68ec1f3.

[2021-12-14 06:57] kasperl commented on #130
The GitHub actions we use to build releases now use Clang 12, which makes this less critical.

See 25dc42a790cabf69519b9a0c0f2a9e8581ff8795.

[2021-12-14 08:37] kasperl opened #133 "Support networking in build for Windows"
We're missing the networking primitives on Windows.

The similar code for BSD / POSIX targets is:
https://github.com/toitlang/toit/blob/master/src/resources/dns_posix.cc
https://github.com/toitlang/toit/blob/master/src/resources/tcp_bsd.cc
https://github.com/toitlang/toit/blob/master/src/resources/udp_bsd.cc

[2021-12-14 08:39] kasperl opened #134 "Local address for net.Interface returns 0.0.0.0 on Linux/Windows/macOS"
Would 127.0.0.1 be more logical and useful?

[2021-12-14 13:11] #134 closed

[2021-12-14 14:24] lask opened #137 "Build fails during snapshot to image fails with OUT_OF_BOUNDS"
I get the following error:
[code]
This is the code https://github.com/lask/jag-demo/commit/540298df0bb4d9e3a05258a0ef6c2df87b38f886 (link to the commit that fails to build).

[2021-12-14 14:25] lask commented on #137
The generated snapshot: [snapshot.zip](https://github.com/toitlang/toit/files/7712305/snapshot.zip)

[2021-12-14 15:59] #137 closed

[2021-12-14 17:44] joedeveloper opened #140 "Missing python3-pip dependency for ESP-IDF install"
This step failed for me the first time running:

On Linux:

    $IDF_PATH/install.sh

Fixed with

     sudo apt install python3-pip

and running

     $IDF_PATH/install.sh
again.

[2021-12-15 02:29] dsobotta commented on #140
this should cover all dependencies that you need for compiling toit and esp-idf:  https://github.com/toitlang/toit/blob/master/README_OTHERPLATFORMS.md#2-install-dependencies

[2021-12-15 02:56] dsobotta commented on #67
Fails to generate snapshot on 64-bit RaspbianOS / Pi Zero 2 W .  Snapshot generation still works with 32-bit RaspbianOS .

[2021-12-15 07:31] kasperl commented on #64
Mostly fixed in 150572a202fde92397796c861ca81107a5c6d15a.

[2021-12-16 01:15] dsobotta commented on #89
Currently blocked by the need for ESP-IDF 4.4.  Will continue to work on build system in the meantime, but flashed builds will always crash until we upgrade ESP-IDF.

[2021-12-16 09:17] kasperl opened #157 "Crash on macOS: net.open.address"
[code]

crashes since 26665b63de3553d5640944629f1d22e67fe90e69.

[2021-12-16 12:04] matthezJ opened #160 "Add write method to BLE RemoteCharacteristic"
A method for writting to a BLE RemoteCharacteristic would be great.

[2021-12-16 20:23] kasperl commented on #157
Fixed in 7f71f68e37cfd3dd6ee7502a04f3f9bf59bbd247.

[2021-12-16 20:23] #157 closed

[2021-12-17 13:30] snxx-lppxx opened #164 "Discord: invitation is invalid"
There is no permanent link to the discord server: <https://github.com/toitlang/toit#community>.

[2021-12-17 17:36] floitsch commented on #164
Thanks.
Fixed in c465eb424e62bf53a3f4f621777034593d1dc2e3.

[2021-12-17 17:36] #164 closed

[2021-12-21 12:44] lask opened #179 "Does the ESP-IDF NVS implementation still use throwing new?"
Previous versions of ESP-IDF had a throwing `new` which meant that it would crash the system close to garbage collection. The version of ESP-IDF we depend on today had a large rewrite of NVS, so the problem may be solved. We do, however, not know this and should investigate this.

[2021-12-22 12:26] floitsch opened #183 "LSP server doesn't work for unsaved files on Windows"
If a file has never been saved, then the LSP server on Windows doesn't work.

[2021-12-22 16:24] #183 closed

[2021-12-22 20:49] kasperl opened #186 "ESP32 firmware complains about 'not found otadata'"
[code]

Appears to be related to 746df36f67d563249612d012ab03aa50c9c1664f.

[2021-12-22 20:49] kasperl commented on #186
Maybe you can take a look, @lask?

[2021-12-22 20:58] lask commented on #186
I will take a look. We probably need to change something in the SDK config.

[2021-12-24 13:40] floitsch commented on #29
A driver for the scd30 now exists: https://pkg.toit.io/package/github.com%2Fqvisten999%2Fscd30

[2021-12-24 13:40] #29 closed

[2021-12-24 13:41] floitsch opened #200 "Driver for the DHT11/DHT22"
It would be very useful to be able to use the DHT11/DHT22 sensors from Toit code.

Inspiration: https://github.com/adafruit/DHT-sensor-library.

Transferred from https://github.com/toitware/public/issues/16

[2021-12-24 13:42] floitsch commented on #200
Copying over @xal88's comment:

Would also vote for the One-wire driver.

Personally I do NOT recommend the use of the DHT/AM22x sensor family. Gets broken in wet or dusty environment.
For a few cent more you can get the HTU21/Si7021 sensor with PTFE membrane cover.

A good comparison can be found here: https://www.kandrsmith.org/RJS/Misc/Hygrometers/calib_many.html

[2021-12-24 13:44] floitsch opened #201 "Add 1-Wire protocol support"
I'd like to be able to use devices like DS18B20 that communicate via the 1-Wire protocol.

It would be ideal if Toit would come with built-in support for the 1-Wire protocol, so it would be straightforward to attach and control a range of peripherals.

Transferred from https://github.com/toitware/public/issues/14

[2021-12-24 13:45] floitsch commented on #200
Note that there is a DHT11 package:
https://pkg.toit.io/package/github.com%2Fnilwes%2FDHT11

It uses bit-banging to communicate with the chip, so it may be unreliable. (That said: it seems to work quite well).

Both DHT11 and DHT22 could benefit from some hardware support to make things easier. Therefore related to https://github.com/toitlang/toit/issues/201

[2021-12-26 17:27] dsobotta commented on #43
With the [makefile refactor](https://github.com/toitlang/toit/pull/197) merged, we now have end-to-end support for riscv64/linux targets and cross-compiling from other hosts.  I don't suspect that many will be deploying to ESP32 devices from riscv64 hosts, so closing this out.

[2021-12-26 17:27] #43 closed

[2021-12-26 17:59] dsobotta commented on #67
Cross-compiling and generating snapshots for arm32 + arm64 works fine.  I'll consider the 64bit RaspbianOS host errors a fault of their experimental release, since it works when cross-compiling and with QEMU/Debian.

[2021-12-26 17:59] #67 closed

[2021-12-27 08:43] kasperl commented on #88
Looks like this is broken on the ESP-IDF side. An upgrade to 4.4 should fix this. Until then, we can use:

[code]

to correct the remote URL of the tinydtls component.

[2021-12-27 08:53] krzychb opened #204 "Support for DAC"
I could not find the API for [DAC](https://docs.espressif.com/projects/esp-idf/en/latest/esp32/api-reference/peripherals/dac.html#).
Is it implemented?
If not, do you plan to add it?
If doing so could you add support for [CW](https://docs.espressif.com/projects/esp-idf/en/latest/esp32/api-reference/peripherals/dac.html#_CPPv423dac_cw_generator_enablev)?

[2021-12-27 09:10] krzychb commented on #200
Unfortunately, I could not make the DHT11 package work with DHT11 and AM2302 sensors I have.
Then I realized that the BME280 sensor provides humidity measurements as well and is well supported by Toit.

[2021-12-27 09:35] kasperl opened #205 "Cannot build using `make esp32` - missing `sdkconfig.h`"
[code]

[2021-12-27 09:36] kasperl commented on #205
Problem seems to have been introduced in e26f1e217039dbfbcb42bfa75e476035f2911050. Can you take a look, @dsobotta?

It is probably just a missing dependency. I was hit by this after cleaning out my `build/` directory.

[2021-12-27 16:11] #205 closed

[2021-12-28 17:48] floitsch opened #215 "project_root_flag tests are not executed"
Somehow the tests were never included in the test-suite.
More annoyingly, the cmake file needs to pass specific flags to exercise the test correctly.

[2021-12-29 06:28] #77 closed

[2021-12-29 11:14] floitsch opened #218 "ESP32-CAM"
Support the ESP32-CAM.

- [ ] Taking pictures and constantly uploading them
- [ ] Taking pictures and saving them locally in the microSD card, to be queried and downloaded remotely
- [ ] Videos
- [ ] Image processing (C bridge?)

[2021-12-30 06:12] #186 closed

[2021-12-31 20:12] floitsch opened #238 "Metrics library is empty and should be removed"
Except for some constants there is nothing in the metrics library.
We should remove it.

[2022-01-03 11:15] artalar commented on #201
Hi, what is the status and priority of this issue?
I can't use dht11, because of it shape. [This mode of DS18B20](https://aliexpress.ru/item/4000895660165.html?spm=a2g2w.productlist.0.0.1fe7732eTkoOHb) is much useful, and have a less price also.

[2022-01-03 12:21] erikcorry opened #245 "Use-before-assign analysis does not understand blocks"
[code]
This warns about x not being initialized before use.

This analysis is not very accurate since x cannot be used before the block is called.

[2022-01-03 13:23] floitsch commented on #245
Agreed.
We could track this as well, but it would things even more complicated. I doubt we will add this feature soon.

[2022-01-03 19:25] dsobotta commented on #89
Finished setting up my new pc over the weekend, so I'll be digging into upgrading ESP-IDF to 4.4 this week.

[2022-01-03 20:01] dsobotta opened #251 "Add support for UDOO Key"
- [ ] Extend Makefile to target UDOO Key
- [ ] RP2040 GPIO Toit interface over Serial
- [ ] RP2040 GPIO Toit interface over SWD
- [ ] Toit runtime on RP2040
- [ ] Flash RP2040 from ESP32 on boot
- [ ] Add documentation to readme

[UDOO Key](https://www.kickstarter.com/projects/udoo/udoo-key-the-4-ai-platform) contains both ESP32 and RP2040 chips that communicate over serial or SWD.

[2022-01-03 20:14] kasperl opened #252 "Error message through LSP is poorly formatted"
In VS Code, I get errors like this:

[code]

Not sure where the problem stems from. Maybe it is a newline handling thing?

[2022-01-03 23:08] floitsch commented on #201
So far nobody has started working on it, but it's very high on our priority list.

[2022-01-04 09:32] lask commented on #252
[The newline is definitely added in the compiler](https://github.com/toitlang/toit/blob/9acf6e2a949df699b1a2366523dbd526df6922e7/src/compiler/no_such_method.cc#L170). VS Code does ignore newlines in a number of places, so that is probably the problem.

[2022-01-04 10:33] floitsch commented on #252
Yes.
Erik asked me to add the newlines to make the error messages look better on the console.
I forgot to check how they were looking in vscode.
The easiest is probably to just replace newlines with ". " (dot, spaces) When sending them to the LSP client.
Alternatively I could also just revert the newline error message changes.

[2022-01-04 13:06] lask commented on #252
It looks like VS Code doesn't ignore newlines. I tested it with the VS Code sample LSP server found here https://github.com/microsoft/vscode-extension-samples/tree/main/lsp-sample by adding newlines to the error messages. This worked fine, so it would seem that it is possible to display error messages with newlines in VS Code.

[2022-01-04 14:48] floitsch commented on #252
Could easily be that the LSP protocol requires \r\n.

[2022-01-05 09:46] floitsch opened #260 "Error output has trailing new lines"
There is a lot of whitespace after the last error message.
[code]

[2022-01-05 12:54] #252 closed

[2022-01-08 06:24] kasperl commented on #39
I think we're there. Thanks for all the hard work, @floitsch!

[2022-01-08 06:24] #39 closed

[2022-01-11 09:34] #238 closed

[2022-01-11 14:14] #260 closed

[2022-01-13 23:56] floitsch opened #302 "Implement ESP-now"
https://docs.espressif.com/projects/esp-idf/en/latest/esp32/api-reference/network/esp_now.html

[2022-01-14 10:30] floitsch opened #304 "Investigate whether we can merge PointerCallback and RootCallback"
Feels like the `PointerCallback` is just "better" than `RootCallback`. It supports visiting C-pointers as well.
For Heapobjects they already behave almost identical (with the exception of ByteArrays which can have a C-pointer).

Also investigate whether we can use the Curiously recurring template pattern to get rid of the virtual calls.

Probably makes sense to devirtualize `do.roots` at the same

[2022-01-14 10:31] floitsch opened #305 "Clean do_roots vs roots_do in VM"
Maybe at the same time as #304

[2022-01-14 11:11] floitsch opened #306 "gpio_esp32 casts to ADCState without checks"
In line 125 of `src/resources/adc_esp32.cc` the code casts from a given byte-array to an `ADCState` without checking whether the object is in fact an `ADCState`.

[2022-01-14 14:56] erikcorry commented on #306
To fix this ADCState should inherit from SimpleResource.  See the way the Sha1 class works. Basically a 'git grep Sha1' shows you the places that need fixing so that you can just declare the type in the ARGS macro of the primitive.  Also ADCState should be called AdcState since we don't capitalize abbreviations in our code.

[2022-01-16 13:27] floitsch opened #311 "'operator []=' should not have a return type"
For some reason the `[]=` operators are marked as `-> int/any`.
They should be void functions as we don't use the value. At least we shouldn't. Maybe we need to check that's not the case.

[2022-01-18 10:28] floitsch opened #317 "Parameters that shadow fields don't give warnings"

[2022-01-18 10:31] floitsch commented on #245
I don't think I will find the time to implement this anytime soon.
Instead of keeping it around without any hope I'm closing it.

[2022-01-18 10:31] #245 closed

[2022-01-20 03:15] un01s commented on #306
I have browsed through the code about Sha1, crypto, SimpleResource, and ADCState. Pieced some code together. Before the PR, here are questions: For ARGS macro of the primitive, what argument can be passed there? Any rules? Can I pass AdcState as one of the arguments? How is the primitives of the modules compared with the methods of the classes? Thanks.

[2022-01-20 11:23] erikcorry commented on #306
You can pass any type where primitive.h has is a macro named _A_T_Mytype.  So once you have added the _A_T_ADCState you can pass it as an argument.  Or rather _A_T_AdcState since abbreviations are only capitalized on the first letter.

[2022-01-20 11:24] floitsch opened #326 "file-test has valgrind errors"
[code]

[2022-01-20 11:45] erikcorry commented on #306
You can see how the _A_T_Sha1 macro is defined as an example.
It requires that there is a tag for AdcState, which is defined with a line in tags.h and TAG(AdcState) in the AdcState struct.

[2022-01-20 18:32] floitsch opened #336 "ReaderWriter doesn't allow reads while the buffer isn't full"
The read function doesn't work unless the buffer is full, or the writer closes the pipe.

[2022-01-21 11:18] #336 closed

[2022-01-21 17:21] floitsch opened #341 "Function to get the local IP"
It would be nice to have a way to see the IP of the device.

[2022-01-21 17:45] floitsch commented on #341
After opening a connection it's possible as follows:
[code]

[2022-01-23 12:33] floitsch opened #346 "Add `binary.HOST_ENDIAN`"
We don't seem to have `binary.HOST_ENDIAN`.

[2022-01-23 12:34] floitsch commented on #346
Maybe just start with `HOST_ENDIAN ::= LITTLE_ENDIAN`.
I don't think we support any other platform yet.

[2022-01-28 07:21] mikkeldamsgaard commented on #32
I am currently giving the ble server/peripheral some attention. The idea is to let the user build a service descriptor with toit objects to be passed to the server constructor. The library would then enable advertising the services. It will contain some sensible defaults for attribute types and allow callbacks to executed in user code when an attribute is written to, enable reading an attribute an

[2022-01-28 11:43] floitsch opened #374 "LSP server should inform client of broken package-lock files"

[2022-01-28 11:47] floitsch opened #375 "Error message for bad types in number operations should be improved"
[code]
yields
[code]

Would be nice to have a type-mismatch error instead.

[2022-01-28 11:48] floitsch commented on #375
Since we are intercepting operations anyway, we only reach the methods when the shortcut fails.
As such we should probably just add type annotations to the methods.

[2022-01-28 11:49] floitsch opened #376 "A finally body should not be allowed to return"
A finally block should not be allowed to eat exceptions.
That means that it shouldn't be allowed to return, break, or continue.

[2022-01-29 08:20] mikkeldamsgaard opened #388 "Suspicious string concaenation"
In event_sources/lwip_esp32 line 84, it looks like the two last error codes gets concatenated. This might not be intentional.

[2022-01-29 15:14] #388 closed

[2022-01-29 16:18] floitsch commented on #388
Thanks!

[2022-01-31 14:38] floitsch commented on #40
@erikcorry do you have some information?

[2022-02-02 16:55] snxx-lppxx opened #407 "Сompilation error due to tabs"
[code]

---

[code]

[2022-02-02 17:16] snxx-lppxx commented on #407
Hi @hoegge, I didn't claim anything. I deliberately used tabulation. The program doesn't compile when using tabs.

[2022-02-02 17:50] hoegge commented on #407
Ok. Guess that is just by design, that indentation must be space and not tab, although not clearly described in https://docs.toit.io/language/syntax

[2022-02-02 17:56] floitsch commented on #407
I just released a new version of the docs that makes it more explicit that tabs aren't allowed.
The new doc should be live soon. Closing already now.

[2022-02-02 17:56] #407 closed

[2022-02-02 19:46] un01s commented on #40
Start to build esp-idf examples with its built-in tinyUSB and load it to esp32s3 dev board. Will update as it goes.

[2022-02-03 09:48] erikcorry commented on #40
I merged a CL that removed Xtensa-specific things from cmpctmalloc.  I hope it now compiles on RISCV.

[2022-02-06 07:14] micrcx opened #420 "Saving the map-object in the flash store"
A small bug related to saving the map-object in the flash store. If you use string as a key, then there are no problems, but if int, then crash occurs:

[code]
I.e. code:

[code]
performs without problems, and the code:

[code]
causes a crash.
In the sources of the library, I found that only text keys are supported during serialization, so perhaps the bug is not critical. It can be easily bypassed

[2022-02-06 13:50] floitsch commented on #420
I started a PR adding documentation to the FlashStore function.

[2022-02-09 08:37] snxx-lppxx opened #434 "Cannot receive data from stream"
[code]

Operating system: Windows 7.

[2022-02-09 10:20] floitsch commented on #434
Thanks for the report.
While we are working on fixing this, try the downloadable binaries from toitlang/toit could be a work-around. Especially on Windows they aren't as feature-complete yet, but maybe they get you going.

[2022-02-09 14:08] #420 closed

[2022-02-10 07:23] micrcx commented on #420
Thanks

[2022-02-13 10:11] DanNduati commented on #434
I have the same issue on Ubuntu 18.04.6 LTS
[code]
[code]

[2022-02-15 08:45] lask commented on #376
Note that we do exploit this in the kernel in https://github.com/toitware/toit

[2022-02-15 08:59] lask commented on #376
I just did a quick survey to see how extensively this feature is used, and it is a lot less than I recall. In https://github.com/toitlang/toit we exploit this to implement `catch`:
https://github.com/toitlang/toit/blob/d8749a7156684522d4167db74c2b6c94767d0f9f/lib/core/exceptions.toit#L131
and we use it in a couple of other places:
https://github.com/toitlang/toit/blob/d8749a7156684522d4167db74c2b6

[2022-02-15 15:13] #434 closed

[2022-02-15 17:38] floitsch commented on #434
The fix has been merged and will be visible as soon as we make a release.

[2022-02-15 19:36] DanNduati commented on #434
Great!

[2022-02-15 23:55] muhlpachr opened #457 "ESP32 crash after jag run"
I have got ESP32 crash after ~5th jag update after jag flash (just simple 4 line hello word).
I am not able to reproduce it.
[code]

[2022-02-15 23:56] muhlpachr commented on #457
[code]

[2022-02-16 00:05] muhlpachr commented on #457
Another:
[code]
[code]

[2022-02-16 00:11] muhlpachr commented on #457
It seams jag monitor hangs sometimes on MSW:
[code]
Serial port seams to be fine, when I connect with terminal emulator or from Python, it continues without problem and hangs.

Just for reference used toit code is this simple:
[code]

[2022-02-16 00:16] muhlpachr commented on #457
It seams there are more issues, now with another jag run hello.toit there are two apps running on esp32 (there was not any change in source code):
[code]

[2022-02-16 00:25] muhlpachr commented on #457
May be issues are related to ESP32-PICO-D4, I have it on https://docs.m5stack.com/en/core/atom_lite

[2022-02-16 00:51] muhlpachr opened #458 "ESP32-D0WDQ6 crash after flash"
[code]
[code]
[code]
[code]

[2022-02-16 07:06] kasperl commented on #458
My guess would be that somehow the NVS partition has become corrupt. Maybe Jaguar needs to handle that and erase the partition? Or maybe it should report it in a nicer way so it is possible for the user to erase the flash manually.

[2022-02-16 07:07] kasperl commented on #326
Is this still the case?

[2022-02-16 07:32] kasperl commented on #457
I think some of these can be explained by https://github.com/toitlang/jaguar/issues/124. Thanks for reporting these, Michal!

[2022-02-16 20:21] kasperl commented on #457
@muhlpachr Maybe give Jaguar v1.0.5 a spin? I don't think we've resolved all these issues just yet, but hopefully we've made a bit of progress.

[2022-02-17 06:23] kasperl commented on #27
First version of this has been published: https://github.com/toitlang/pkg-modbus. Further contributions are very welcome, @kendfinger!

[2022-02-17 06:23] #27 closed

[2022-02-17 06:23] kasperl commented on #58
Fixed in #432.

[2022-02-17 06:23] #58 closed

[2022-02-17 06:29] kasperl commented on #457
We believe the corruption issues may have been fixed by https://github.com/toitlang/jaguar/commit/81eac4d8c54e6531539ebfc8c7b743dfc1ff232d. Closing, but feel free to reopen if you continue to run into issues, @muhlpachr.

If the flash is indeed corrupt in the nvs partition, it might make sense to erase the flash of your device before trying again. Use:

[code]

[2022-02-17 06:33] kasperl commented on #458
We believe this corruption may have been fixed in https://github.com/toitlang/jaguar/commit/81eac4d8c54e6531539ebfc8c7b743dfc1ff232d, so closing this for now. Feel free to reopen the issue (or post a new one) and thanks for reporting this!

[2022-02-17 06:33] #458 closed

[2022-02-17 12:30] floitsch opened #462 "lib/device_impl.toit uses deprecated classes from lib/drivers/cellular.toit"
We should switch to using the packages.

[2022-02-17 17:16] kasperl commented on #458
Maybe you can try erasing the flash before we conclude too much about v1.0.5? The problem might very well still be there, but if there is flash corruption due to concurrent flashing operations (something that should no longer be the case in v1.0.5), we will not know if we've fixed it before you try to erase your flash and start over:

[code]

Thanks!

[2022-02-17 22:28] muhlpachr commented on #458
On that particular board I was not able to upload any program because I did not pass through jag flash.
So root cause of trouble is not definitely concurrent program upload.

After erase_flash chip/board is fine.

You should definitely support erase_flash at least as option for flash or separate operation in jag.
Thank you.

[2022-02-17 22:30] muhlpachr commented on #458
And report error in more readable way or add autofix while trying access flash_kv during boot.

[2022-02-18 02:40] muhlpachr commented on #457
Some issues are solved by erase_flash and v1.0.5, but double application running survives repetily in this sequence:
1. jag monitor
2. jag run app
3. exit monitor
4. jag monitor - will reboot esp32 and start app installed by jag run app in step 2.
5. jag run app - will start another app together with app from first jag run in step 2. or crash
Example of crash:
[code]

[2022-02-18 07:24] snxx-lppxx opened #465 "WARNING: unhandled system message 2 Array of size 3"
[code]

[2022-02-18 07:34] kasperl opened #466 "Monitor deadlines are only considered when blocking"
Monitor await operations will succeed if the condition block returns true -- even if we're past the deadline. We only evaluate the deadline once the condition returns false. This is a little bit confusing.

[2022-02-18 07:44] kasperl commented on #462
Yeah, this is pretty bad. In the toit.io version we end up serializing the package version (gnss_location) and deserializing it as the wrong type (lib/drivers/cellular). Some of the fields of the objects returned from device.Gnss.location are probably completely wrong because of this.

[2022-02-18 14:10] floitsch commented on #457
We are investigating, but the current theory is that we start erasing the program while the old application is still running.
At some point the program reads the erased data which makes it crash.

[2022-02-18 14:20] kasperl commented on #457
We were definitely overwriting programs that were started at boot time while they were still running. Fixed in https://github.com/toitlang/jaguar/commit/f94047157a800333db551da080fc7613e6b4db1f. Fix will be released in Jaguar v1.0.6.

[2022-02-18 16:40] snxx-lppxx commented on #465
Hello @kasperl, nothing happens after this message. The underscore character describes the state of the problem.

[2022-02-18 20:19] muhlpachr commented on #457
Fixed. Thank you!

[2022-02-18 20:48] #457 closed

[2022-02-18 20:49] kasperl commented on #458
Filed https://github.com/toitlang/jaguar/issues/134 to track this. Thanks!

[2022-02-19 00:47] muhlpachr opened #473 "What are Bytes allocated in object heap ?"
According https://libs.toit.io/core/utils/library-summary#process_stats process_stats shell return Bytes allocated in object heap.
It seams, my program allocate more bytes than esp32 has RAM available.
Why Bytes allocated in object heap increases continuously ?
[code]
[code]
[code]

[2022-02-19 06:18] kasperl commented on #306
Did the fix land, @un01s and @erikcorry?

[2022-02-19 13:30] muhlpachr commented on #473
Thank you for explanation and Q&A reference, I was not aware of that.

[2022-02-19 13:48] rbedemann opened #474 "App crashes when trying to resolve unknown host"
Hey,

I faced this issue while trying to connect my mqtt client to a broker. Due to a wrong config, I tried to connect to an unknown host which resulted in an unexpected error. I was able to identify the root cause, which seems to be located in the `net` package.

### Steps to reproduce:
Install an app on a device (tested with firmware v1.6.6) with following code:
[code]

### Expected behaviour:
`

[2022-02-19 17:10] rbedemann opened #475 "App crashes when subscribing to a device:* pubsub topic"
Hey,

I was playing around with the local pubsub mechanism as it is described in the [tutorial](https://docs.toit.io/tutorials/pubsub). However, when I deploy my subscriber app, I'm receiving following exception after ~7 seconds:

[code]

Unfortunately this makes the entire app crash. It neither works if I execute the code via the toit console nor when I deploy my code as a job. I also added the s

[2022-02-20 06:47] kasperl commented on #474
The problem was introduced in https://github.com/toitlang/toit/commit/73dc0257ae64c355bcaad21c02be8d23fe660924. The RPC mechanism doesn't know how to serialize the `DnsException` instances.

[2022-02-20 06:59] kasperl commented on #475
Hi @rbedemann! Can you share the code that causes this problem to appear including the `.yaml` files? It looks like we end up asking the cloud for an non-existing pubsub subscription.

[2022-02-20 07:02] kasperl commented on #473
Moved to Q&A: https://github.com/toitlang/toit/discussions/476.

[2022-02-20 07:02] #473 closed

[2022-02-20 09:06] rbedemann commented on #475
Hey @kasperl,

it's actually the exact same code as from the tutorial which I took (see example1 below). However, without the `device` pubsub subscription listed in the `.yaml` file, I receive the error of a missing subscription setup. This is how I ended up adding this subcription to the list in the `.yaml` file which led me to the above mentioned problem (see example2 below).

-----
## Example 1

[2022-02-21 10:35] floitsch opened #477 "bytes.Producer and bytes.ByteArrayProducer types"
The `Producer` and `ByteArrayProducer` currently don't require a specific type for the `byte_array` (resp. destination) in their `write_to` methods.
That should be `ByteArray`.

[2022-02-21 10:38] floitsch opened #478 "The compiler should give a warning when a parameter is named like a type in interfaces/abstracts"
We don't want

[code]
instead the user should write:

[code]
If the parameter is really called int or Baz, then one can always use /any.

[2022-02-21 10:38] floitsch commented on #478
Potentially good first issue with a bit of hand-holding.

[2022-02-21 10:40] floitsch opened #479 "Rename SIZE constant in uuid library"
We should consider renaming it to something less ambiguous.

[2022-02-21 18:05] mikkeldamsgaard opened #484 "UART thread causes VM to crash and ESP32 to reboot"
Sometimes when the UART is being used against something that does not behave nicely, the ESP32 aborts.

The stack trace to illustrate
[code]

Most likely, this is more and ESP IDF issue.

[2022-02-22 07:18] kasperl commented on #475
I certainly does help. I can reproduce the problem and have tracked it down to an issue introduced late last year. Thanks! I hope to have a fix out within a week or so.

[2022-02-22 11:13] #474 closed

[2022-02-22 13:32] floitsch opened #490 "Detect obvious self-recursion in globals"
Give warnings for cases like:
[code]

[2022-02-22 13:45] paddyrg opened #491 "Language enhancement - Could gpio.Pin.wait_for return the value of how long it waited?"
Looking as best I can through the library, gpio.Pin.wait_for returns --> none whereas it could potentially return how long it waited for without breaking anything (or could be overloaded, or a separate function?)

Just might be useful for no cost

[2022-02-22 15:54] nivoc opened #496 "Disable Default Wifi-Connect"
Is there a Way to not boot with Wifi/Cloud?

I have a sensor (currently micropython and like to port) that sleeps most of the time. It wakes every minute and checks the temperature and sleeps again. It should only connect to the internet if the temperature is out a defined bound.

To connect every Minute is unnecessary and drains the battery a lot.

It's enough to connect if there is something wro

[2022-02-22 17:42] floitsch commented on #496
I'm assuming you are using the open-source version with Jaguar. The toit.io version has this feature integrated (with a `max_offline` configuration exactly as you describe).

Currently Jaguar connects immediately to the WiFi which is the reason the WiFi is turned on.
We have lots of plans with Jaguar, so we should be able to cover your use-case in the future.

In the meantime you could use the Toi

[2022-02-22 19:18] nivoc commented on #496
Oh - Sorry!

That was my fault. I was looking at the wrong place. Now I see it. Its part of the deviceconfig. https://docs.toit.io/platform/devices/deviceconfig

I'm using/testing with the Cloud Version. The feature is better than I hoped for. I was looking for a function/way to control it within my software. But configuration is even better 👍

But thanks for the detailed Jaguar Description.

I ju

[2022-02-22 19:18] #496 closed

[2022-02-23 09:44] #462 closed, assigned to lask

[2022-02-23 12:30] kasperl commented on #475
Will be fixed in v1.6.8.

[2022-02-23 12:37] kasperl commented on #474
With v1.6.8 the exception will be:

[code]

It isn't the prettiest exception - but it is now the expected message.

[2022-02-23 15:13] kasperl commented on #475
I expect v1.6.8 to be out early next week after some stress testing!

[2022-02-23 15:15] kasperl commented on #475
@rbedemann: Reach out to me via Discord and I can give you access to the alpha release right away!

https://discord.gg/Q7Y9VQ5nh2

[2022-02-23 22:18] sebastianneubauer commented on #201
Good to hear that this is on the roadmap! Naive and a complete noob that I am in microcontrollers and even more in Toit, I thought: I will just implement 1-wire myself before luckily finding this issue here. Inspired by the very simple and straightforward implementation in MicroPython (https://github.com/micropython/micropython/blob/5f50f4a130e60c4bc5f4fbf58ac849dcaf764e72/drivers/onewire/onewire.

[2022-02-24 14:52] floitsch commented on #201
You correctly identified the difficulty: these fine timings can't be done in Toit.
There are two ways to work around it:
- have a c/c++ primitive that does the work for you with tight timing controls
- use an EPS32 peripheral for it.

@lask has started work on the latter. By using the infrared peripheral we should be able to achieve precise timings without hogging the CPU.

[2022-02-24 15:10] artalar commented on #201
Can't wait for it too 🤞

[2022-02-25 13:13] floitsch opened #518 "Setting the duty_factor of the PWM is unreliable"
[code]
The setting of the duty_factor is unreliable.
Things get much more stable, if there is a `sleep --ms=10` between the `start` and the `set_duty_factor`.

[2022-02-28 19:36] kasperl commented on #466
Fixed in d44c57287ff42bdd5187efe676f8af306b49112a.

[2022-02-28 19:36] #466 closed

[2022-02-28 19:37] kasperl commented on #477
Fixed by @un01s in 3c729abe1d73496e10d6ddfa5753233a5a83745c.

[2022-02-28 19:37] #477 closed

[2022-02-28 19:37] kasperl commented on #465
We believe we have fixed this by now. Let me know if you still encounter issues, @snxx-lppxx!

[2022-02-28 19:37] #465 closed

[2022-02-28 19:42] kasperl commented on #160
Do you know if this would be easy to add, @mikkeldamsgaard?

[2022-02-28 19:43] kasperl commented on #32
Mikkel's work just landed. Please take a look, @justind000!

[2022-02-28 19:44] kasperl commented on #35
This has been fixed.

[2022-03-02 12:27] kasperl commented on #475
I believe this has been fixed in v1.6.9 which was just released.

[2022-03-02 12:27] #475 closed

[2022-03-04 16:23] floitsch commented on #518
This is an ESP-IDF issue:
https://github.com/espressif/esp-idf/issues/6710
https://github.com/espressif/esp-idf/issues/7288
https://github.com/espressif/arduino-esp32/issues/5306

[2022-03-11 18:11] floitsch opened #562 "Add mDNS support"

[2022-03-12 08:23] Arkoxs commented on #200
I think that having a broad spectrum of supported devices will benefit the toit/jaguar platform. DHT11/DHT22 is used in quite a lot of starting projects and a lot of people have them laying around.

[2022-03-12 10:05] floitsch commented on #200
@lask is making good progress on the 1-wire protocol ( https://github.com/toitlang/toit/issues/201) using the RMT peripheral.
It should be straightforward to use the peripheral for dht11 and dht22.

[2022-03-15 09:50] floitsch opened #570 "Parallel initialization of network doesn't really work"
When one process (Jaguar) opens the network (`[wifi] DEBUG: connecting`), and another program opens the network at the same time, the second program will get a half-way initialized network, which then leads to a "Routing problem" exception (because the network didn't get any IP yet).

[2022-03-15 11:52] floitsch opened #571 "toitdoc code-section parser needs improvement."
Currently the code-section parser doesn't deal with whitespace.
This means that many code-sections have indentations that shouldn't be there.

It also doesn't handle language identifiers correctly.
In fact it currently just takes the whole text that is between the back-ticks and stores it for the viewer. Interestingly, it does do the indentation checks, though. (So a code-segment must not have lin

[2022-03-17 17:17] lutzbickhardt opened #577 "Set: basic operations inconsistencies"
Hi,

consider the following program which creates Set variables.

a) some operations are obviously allowed for a single item, but not for multiple items; so why allow it for a single item at all?
b) some do not make sense at all (to me): such as true/false or null in a Set
c) basically what I do derive from the test is: only <strings> and <numbers>can be used in a Set.
d) so either you should upda

[2022-03-17 17:19] lutzbickhardt commented on #577
sett = {true} also works without exception

[2022-03-17 17:20] lutzbickhardt commented on #577
//sett = {{"x": "X"}, {"y": "Y"}} {"x": "X"}   => EXCEPTION -> LOOKUP_FAILED ...
should read
    //sett = {{"x": "X"}, {"y": "Y"}}  => EXCEPTION -> LOOKUP_FAILED ...

[2022-03-18 09:06] lutzbickhardt commented on #577
c) should read:
   c) basically what I do derive from the test is: only string and number types can be used in a Set.

[2022-03-18 10:12] erikcorry commented on #577
The Set and Map implementations use hashing to do their operations in constant speed. As a consequence their keys must have a hash_code member.

For very small sets and maps the hash_code method is sometimes not called, so the sets and maps may appear to work until more members are added.

The documentation should certainly make this more clear.

Read more at https://docs.toit.io/language/listsetm

[2022-03-18 11:29] lutzbickhardt commented on #577
that is understood by the code LOOKUP_FAILED, but even if the hashing was called for a single member, it should not be up to the runtime to raise an exception. This can and should be detected at compile time.

[2022-03-18 11:40] floitsch commented on #577
There are a few different points here:
1. maps and sets do accept objects without `hash_code` for small sets/maps.
2. there is no type check to ensure that objects have the correct type
3. the compiler doesn't give any feedback on whether an object will work
4. the compiler doesn't give any warning for set/map literals.

I suggest the following action items:
- a. call `hash_code` even if the set/m

[2022-03-18 11:41] erikcorry commented on #577
https://github.com/toitlang/toit/pull/578/files here is at least an improvement to https://libs.toit.io/core/class-Set

[2022-03-18 11:42] floitsch commented on #577
I forgot: another approach is to have an identity-hashcode by default. This way every object would be allowed.

[2022-03-18 11:58] #570 closed

[2022-03-18 13:25] erikcorry commented on #304
Now PointerCallback is only for snapshots, and RootCallback is only for GC.
As such it makes sense to keep them separate, and perhaps they will get better names at some point.
I think PointerCallback is compiled out on embedded where it is not needed.

[2022-03-18 15:59] lutzbickhardt commented on #577
I fell victim to your case a. (" ... user doesn't get the impression that the container works for the given data-type")
So whatever helps to avoid this is appreciated.

In the case of type Boolean, Set does not make sense at all (as with null).

[2022-03-18 16:06] floitsch commented on #577
There are cases where `true`, `false` and `null` would be useful:
Say you have an API that returns `null` for when the module isn't available, and integer error codes otherwise.
You might want to avoid printing error messages multiple times and keep a set for all errors you already printed. In that case, having `null` would make sense.

Similarly, there are cases where `true` or `false` would make

[2022-03-18 21:03] lutzbickhardt commented on #577
if true/false was allowed only 4 combinations (TT, FF, TF, FT) would be allowed, but together with other types: ok!

Otherwise: cool!

[2022-03-20 13:26] lutzbickhardt commented on #577
and of course it could only be  {T}, {F}, {T,F}, {F,T} NOT (as I implied above) {T, T} {F, F} {T,F} {F, T)

[2022-04-24 16:18] snxx-lppxx opened #673 "Couldn't find 'main' (with 0 or 1 argument)"
<details open="open">
<summary>Сode example:</summary>

[code]

</details>

---

[code]

[2022-04-24 16:39] floitsch commented on #673
A Toit program can only have a `main` function with 0 or 1 arguments.
If it has 1 argument, then the 1st argument is the list of parameters that was provided to it on the command-line. At least, that's the case for Toit programs that are written for the Desktop:

[code]

[2022-04-28 09:01] floitsch opened #687 "Make it possible to change the frequency of the PWM."

[2022-04-28 13:30] #673 closed

[2022-04-28 15:45] #687 closed

[2022-05-19 04:50] kasperl opened #746 "Unexpected memory for Toit heap"
Got this running a simple BLE example on Jaguar v1.1.2 - SDK v2.0.0-alpha.2.

[code]

[2022-06-22 13:54] MikAtCosesy opened #809 "The SPI module for the ESP32 does not allow you to choose if the CS pin should be held after transmission"
There are many different IC's that use SPI as a communication method, and they have different implementations of the protocol.
Some implementations will give different responses to the same command based on the previous command and the time since the last command.

An example of this is the Si4455 radio transceiver (https://www.silabs.com/documents/public/data-sheets/Si4x55-C.pdf).
In the SPI impl

[2022-06-23 19:45] floitsch commented on #809
If I understand correctly, you would like to:
[code]

Any `transfer` that doesn't have the flag would automatically set the bit to false, thus ending the CS.

Does that sound right?

[2022-06-25 18:26] cakemaster9001 commented on #809
Yes, that is exactly correct. This will allow all CS-related actions to be handled in the driver instead of the user having to do it manually.

[2022-06-30 09:20] floitsch commented on #809
Turns out that this is mostly exposed in a recent ESP-IDF version.
We will update to ESP-IDF 4.4 first, and then it should be relatively straight-forward to implement. (The hard part is the upgrading).

[2022-06-30 09:35] #201 closed

[2022-06-30 09:36] #200 closed

[2022-06-30 09:39] floitsch commented on #160
The latest version (at least the open-source one) now has a way to write to a RemoteCharacteristic:
https://github.com/toitlang/toit/blob/master/lib/ble.toit#L241

[2022-06-30 09:39] #160 closed

[2022-06-30 12:29] MikAtCosesy commented on #809
Perfect! Looking forward to it

[2022-06-30 15:19] #577 closed

[2022-07-08 09:42] floitsch commented on #88
I tried with both our 4.3 and 4.4 branch and could not reproduce:
4.3: https://github.com/toitlang/toit/runs/7249126224?check_suite_focus=true
4.4: https://github.com/toitlang/toit/runs/7249062886?check_suite_focus=true

Closing for now. Feel free to reopen.

[2022-07-08 11:08] floitsch commented on #518
This has been solved by updating the esp-idf.

[2022-07-08 11:08] #518 closed

[2022-07-13 09:14] floitsch opened #866 "Add ceil and floor methods to the float type."

[2022-07-13 13:25] MikAtCosesy opened #867 "Constructor named parameter gets shadowed by named setter for class variable"
The following code does not correctly set the bytes in the underlying ByteArray structure because the setter 'target' overshadows the named parameter 'target'. This happens without a warning and is hard to debug.

[code]

This is probably hard to erase, but it would be nice with a warning.

[2022-07-13 20:09] floitsch commented on #867
If I understand correctly, this is actually the opposite problem: the local parameter `target` shadows the setter `target` and assigning to it doesn't give any warning.

I think I will introduce a warning when a variable is assigned to itself.
Would that solve this issue?

[2022-07-14 07:45] MikAtCosesy commented on #867
Aaah I see - I could not determine which of them were being overshadowed, but the result is the same either way.

Yes I think it would help with a warning as that would make it much easier to find the error if it happens again.

[2022-07-14 10:45] floitsch opened #868 "http server gets stuck when there are too many connections"
Quoting from discord:

I got some TcpServer issues. It looks like there is a limit on the number of incoming connections. Thats is perfect. However, when the limit is reached something weird happens. The first part is ok, it parks the new connection. However, when another connection stops it seems like it doesnt allow the parked connections to connect fully. I tried this with a java client using t

[2022-07-15 05:54] kasperl commented on #71
We now throw a recognizable exception ("wifi ssid not provided").

[2022-07-15 05:54] #71 closed

[2022-07-16 18:45] floitsch opened #871 "WiFi can't find ssid after initial failure"
I just ran Jaguar on the ESP32 with the wrong SSID name.
Instead of reflashing, I changed the WiFi hotspot name. Despite multiple attempts the device did not manage to connect to it.
I keep getting the following error message:
[code]

After rebooting the device it can connect.

[2022-07-19 09:37] #866 closed

[2022-07-19 10:03] #867 closed

[2022-07-20 10:49] cakemaster9001 commented on #491
I have been looking at the implementation of the gpio.Pin.wait_for method and the sub methods it calls. They already return states and other values, so the overload would have to happen in the gpio.Pin.wait_for method itself.

To do the timing itself, the Duration.of block could be used. This could be put into the standard library, but I would argue that the method without the timing should still

[2022-07-21 15:00] floitsch commented on #130
Has been fixed by upgrading ESP-IDF.

[2022-07-21 15:00] #130 closed

[2022-07-27 14:03] #809 closed

[2022-07-27 14:39] floitsch commented on #809
This change was committed and will be available in the next release.

Note that the esp-idf currently does not give a way to deactive the CS (nor does it do it automatically). This means that it's important to finish the operation with a transmit that does not keep the CS active.

See https://github.com/espressif/esp-idf/issues/9390

[2022-07-28 09:24] HoferChristoph opened #900 "Manual shutdown for Sequans cellular modem on Gpy before going into deep sleep"
Is it possible to manually shutdown the Sequans cellular modem on a Gpy before going into deep sleep although Toit is still using it?

Currently I can only put the esp32 chip on the Gpy into deep sleep which leaves the modem in some funky state and does not minimize the power consumption. Furthermore, it appears that after deep sleep the Gpy’s behaviour doesn’t seem very stable. Probably due to th

[2022-07-28 11:42] #490 closed

[2022-07-28 13:37] floitsch commented on #306
yes. This has been resolved.

[2022-07-28 13:37] #306 closed

[2022-07-28 13:38] floitsch commented on #179
From what I could see, this has been fixed upstream.

[2022-07-28 13:39] floitsch commented on #204
Work has started: https://github.com/toitlang/toit/pull/893

[2022-07-29 05:09] kasperl commented on #900
Hi @HoferChristoph. We try to close the modem by asking it to go offline (through the CFUN AT command), but maybe we're missing something. I will take a look next week.

[2022-07-29 05:13] kasperl commented on #900
In most of the other modem drivers, we manually have to power-on and power-off the modems, but we do not do that with the Monarch.

[2022-08-02 11:21] kasperl commented on #871
We believe this was fixed in #910.

[2022-08-02 11:21] #871 closed

[2022-08-03 05:33] kasperl commented on #484
We've updated ESP-IDF to v4.4 and we believe this issue has been fixed. Let us know if you still encounter this, @mikkeldamsgaard!

[2022-08-03 05:33] #484 closed

[2022-08-03 05:33] kasperl commented on #746
Haven't seen this for a while. Assuming stale.

[2022-08-03 05:33] #746 closed

[2022-08-03 05:37] kasperl commented on #868
Did we figure out what was going on here?

/cc @mikkeldamsgaard

[2022-08-03 08:29] kasperl commented on #900
It is possible to use AT+SQNSSHDN, but I'm not completely sure how to reactivate the modem when waking up.

[2022-08-08 12:17] nivoc commented on #302
I'm willing to support that if we find someone to do it.

[2022-08-08 12:26] floitsch commented on #302
It's hard to estimate.
There are only very few esp-now functions and they aren't too complex. I'm pretty sure that it's pretty simple to get those functions exposed to Toit.
The harder part is to deal with the integration of the WiFi. For example, we have abstracted away networking so that drivers (WiFi and others) run in their own services. However, esp-now needs to have WiFi enabled to work. Thi

[2022-08-08 19:10] nivoc commented on #302
Cool Thanks for the Details an Todo-Push :-)! Yes a rough implantation would be good enough in the first version. Could be improved if people really start to use it.

[2022-08-18 11:39] floitsch opened #964 "Toitdoc does not contain the inferred type for globals"
We infer global types after we have sent the summary to the LSP server (which then passes it on to the toitdoc generater).
As such, the toitdocs don't show the correct type information for globals.

[2022-08-20 06:49] kasperl commented on #45
We believe this has been fixed as part of upgrading to ESP-IDF v4.3.

[2022-08-20 06:49] #45 closed

[2022-08-20 06:51] kasperl commented on #179
Marking as closed.

[2022-08-20 06:51] #179 closed

[2022-08-20 06:54] kasperl commented on #89
Hi @dsobotta! We're finally on ESP-IDF v4.4. Maybe your work on ESP32-C3 support is finally unblocked?

[2022-08-20 06:56] kasperl commented on #40
Hi @un01s! We've upgraded to ESP-IDF v4.4 which may (or may not) make this easier to make progress on.

[2022-08-20 06:58] kasperl commented on #32
With a good chunk of help from @mikkeldamsgaard, the BLE implementation is in a much better shape now. Do you know what we're still missing, @justind000?

[2022-08-21 21:53] nivoc opened #974 "BLE Documentation"
Andreas Spiess complains in its Youtube-Review that the Documentation contains a Bluetooth Tutorial but misses to explain or show how to actually transmit data - he failed there (he got only manufacturer data to work)

I had the same issue. Some days ago I discovered by accident that the repo contains a perfect and dead simple example.

https://github.com/toitlang/toit/blob/master/examples/ble/hea

[2022-08-22 04:28] kasperl commented on #974
Thanks, @nivoc! Will try to roll this out today :)

[2022-08-22 06:37] dsobotta commented on #89
Thanks for the heads up.  I'll take a look tomorrow.

[2022-08-22 10:13] kasperl commented on #974
https://docs.toit.io/tutorials/ble has been updated. Thanks again!

[2022-08-22 10:13] #974 closed

[2022-08-22 10:14] nivoc commented on #974
:-)

[2022-08-22 21:06] dsobotta commented on #89
Hey @kasperl ,

This definitely gets us closer to where we need to be for esp32-c3 support.

Since I last touched this in Jan, there's been a few changes in toit source that directly include mbedtls again.  Later this week, I'll have to dig through the related code and strip that out for esp32c3 builds again before I can evaluate where we are at.

But in the meantime, know that the current approac

[2022-08-23 07:09] kasperl commented on #89
Hi @dsobotta,

Thank you for looking into this. We're planning to transition to [CMake](https://cmake.org/) and maybe we're close enough to supporting C3 that we should try to get hold of a few boards. I'll let you know when we start making progress on the build system!

[2022-08-23 15:33] dsobotta commented on #89
Sounds good! I think it will go quite smooth once on CMake. I've had good experiences with rust on the esp32c3 thus far.

[2022-09-04 20:29] nivoc commented on #40
@erikcorry But ESP32-S3 has no RISC Processor or? The RISC one is ESP32-C3 and that is Single Core too.

https://en.wikipedia.org/wiki/ESP32#ESP32-C3
https://en.wikipedia.org/wiki/ESP32#ESP32-S3

[2022-09-12 22:35] bmentink opened #1030 "pubsub not there?"
Can't seem to use pubsub any more, compile fails on "import pubsub" line, this used to work fine compiling with toit directly, rather than via jaguar ..

[2022-09-13 07:18] kasperl opened #1032 "Race condition when starting containers"
It is possible for a call to `containers.start` to receive a `SYSTEM_RPC_NOTIFY_RESOURCE_` message before we've initialized the `ServiceResourceProxyManager_`. This happens when the started container manages to run to completion before the caller is ready for the notification sent on close.

[2022-09-13 11:53] floitsch commented on #1030
Pubsub only exists for Toit v1.
We recommend to switch to an MQTT based server.
There are multiple options (AWS, io.adafruit.com, datacake, qubitro).

[2022-09-16 21:21] floitsch commented on #40
@nivoc: you are correct.

The biggest problem with the S3 is that Espressif only supports it with CMake. However, Toit still uses the old (deprecated) make approach.

The code should mostly work (except that some Pin constants would likely need to be adapted). There is one user of Toit who runs successfully on the S3 (with a few hacks to get the build system working).

[2022-09-17 05:15] kasperl commented on #204
Is this fixed, @floitsch?

[2022-09-17 14:11] floitsch commented on #204
Yes.
DAC is fully supported.

[2022-09-17 14:11] #204 closed

[2022-09-23 07:09] donghengqaz opened #1047 "Issues about porting ESP32-S3 to toit"
Hi，

I am trying to port ESP32-S3 to toit, I mostly finish refactoring the Makefile, and compile final toit.bin. Now I meet an issues, system runs toit language binary failed, the log is:

[code]

I add some log and find the _primitives is not initialized successfully, log is:

[code]
Could any one give me some help ?

[2022-09-23 07:51] kasperl commented on #1047
Hi @donghengqaz! I can help, but maybe it is faster to take this on Discord (chat.toit.io)?

We're (mis-)using weak linkage for the primitive tables, so maybe there is something fishy going on with that.

[2022-09-23 08:28] floitsch commented on #1047
@mikkeldamsgaard reported that he had to migrate to the cmake-based build system to get his S3 working.
I wouldn't be surprised that the issue manifests itself this way.

[2022-09-23 08:52] donghengqaz commented on #1047
Hi @kasperl @floitsch thanks for your reply. I have some progress, I modify cmake script like this:
[code]
And it works, S3 run hello.toit successfully. Do you have plan to add S3 recently ? If not, I would like to do this.

[2022-09-23 08:57] floitsch commented on #1047
We already have some S3 boards on our tables, but won't have the time to work on them for the next few months.
If you could give it a try that would be awesome.

[2022-09-24 15:20] floitsch opened #1052 "pin.wait_for seems broken"
Repro:

Take two esp32 boards.

Connect pin 18 of one board to pin 19 of the other. Connect pin 19 of the same board to pin 18 of the other.

Run the following program on board 1:
[code]

Run the following program on board 2:
[code]

Board 2 will start complaining about timeout exceptions:
[code]
However, when looking at the output one can see that `pin_in.get` was 0 before the `wait_for` and that

[2022-09-26 07:16] mikkeldamsgaard commented on #1047
I did some investigations to determine the amount of work needed to migrate to idf cmake. It does not make sense to only do this for S3, so all supported "targets" should be included. The main pain point at the moment is to get the post processing with the @kasperl 's firmware script. The script commands themselves are easy, but convincing the idf build system to execute them is another matter. I

[2022-09-27 20:52] mikkeldamsgaard commented on #1047
And I converted that to a PR. @donghengqaz take a look at https://github.com/toitlang/toit/pull/1065

[2022-09-28 03:07] donghengqaz commented on #1047
Hi @mikkeldamsgaard I see this PR and it's a good solution, and these days I also make a solution:https://github.com/toitlang/toit/pull/1068, I hope this can be a little helpful to you. By a way, I also find 2 issues:

1. compiling C3 will cause a error, and I create PR for this: https://github.com/toitware/esp-idf/pull/72, do you meet this issue ?
2. compiling with cmake based on esp-idf may caus

[2022-09-28 07:34] mikkeldamsgaard commented on #1047
Yes.
1. I did certainly encounter this issue and applied your patch in my checkout to work around it.
2. Indeed that was a main pain issue for me too. It seems very weird that cmake should increase the IRAM usage. But if you say it is due to the spiram cache workaround then that kind of makes sense as I believe the make based builds have had issues with spiram cache. Maybe @erikcorry can shed some

[2022-09-28 16:46] mikkeldamsgaard commented on #1047
@donghengqaz If you do have insights into why cmake uses more IRAM, that would be helpful.

[2022-09-29 09:54] erikcorry commented on #1047
We were pretty close to the IRAM size limit before.  We compile with -Os.  Could it be that the new build system compiles with -O2 or -O3 instead?

[2022-09-29 11:28] mikkeldamsgaard commented on #1047
I did check and it should be -Os all over.
It is puzzling as the toit vm IRAM size also increases.

[2022-09-29 12:49] floitsch commented on #1047
I looked at the commands that are used to compile the interpreter, and it looks like they are different now. I'm guessing that the old build system didn't take into account any compile-flag modifications we did in the src/CMakeLists.txt, whereas the new one does.
For example, we can see that there is now a `-O3` in the flags that wasn't there before. It is followed by a `-Os` so that one shouldn't

[2022-09-30 09:38] donghengqaz commented on #1047
I test and find the extra cost IRAM mostly is from libc, you can see that:

makefile:
[code]
cmake:
[code]
so I doubt cmake link some unused functions to IRAM, because libc functions' section are all ".text" not ".text.XXXX".

[2022-09-30 12:18] mikkeldamsgaard commented on #1047
So, looking at esp32-spiram-rom-functions-c.lf and sdkconfig (SPIRAM_CACHE_LIBNUMPARSER_IN_IRAM), then for example lib_a-strtol should definitely be in IRAM. But make does not put it there and cmake does. This together with the  -mfix-esp32-psram-cache-strategy is what I think explains the difference. (And probably also why you never got spiram working on the ESP32??)
If you look at the generated

[2022-10-02 07:35] kasperl opened #1083 "Support list slices and large lists and maps in encoding.tison"

[2022-10-02 07:46] kasperl opened #1084 "Optimize access to elements of list slices"
https://github.com/toitlang/toit/blob/309bfe40685770ea4122f71a2f6fc88f968e00df/src/interpreter_core.cc#L26

[2022-10-05 19:46] kasperl commented on #89
Hi @dsobotta! We just landed most (all?) of what is need to get Toit to work on the ESP32-C3. Check it out :)

[2022-10-07 12:03] erikcorry opened #1104 "MessageEncoder probably leaks memory when there are errors during encoding."
The destructor needs to clean up, and there needs to be a dont_free() method for use when its allocations have been handed over to the system (put in the Message).

[2022-10-07 12:11] kasperl commented on #1104
Did this get worse recently, @erikcorry?

[2022-10-09 12:04] kasperl commented on #1083
List slices are now supported.

[2022-10-10 07:07] #1047 closed

[2022-10-21 01:10] #1030 closed

[2022-10-21 10:19] askdesigners commented on #974
I'm having trouble getting the example to compile actually.

[code]

Is this some path issue?

[2022-10-21 10:31] askdesigners commented on #974
I've actually found both BLE and Websockets have confusingly two versions floating around. It looks like the example linked here doesn't match up with the lib as described on the SDK site here https://libs.toit.io/ble/library-summary

Is this a new/different version?? It looks like it doesn't export the same members. However when cmd + click the lib name in VSCode, I see the library as I expect to

[2022-10-21 10:35] floitsch commented on #974
That's on us...
The libs.toit.io document still points to the v1 version of Toit.
I will see if I can move the documentation to v2.
Note, that we are in the process of landing a bigger change to BLE (with the nice advantage that BLE then also works from macos).

[2022-10-21 10:36] floitsch commented on #974
We generally recommend to run with Toit v2 nowadays. This is the one that comes bundled with Jaguar.
Feel free to reach out on chat if you need more guidance or have questions on the differences of v1 and v2.

[2022-10-21 10:37] askdesigners commented on #974
ah ok gotcha. I will uninstall I guess and reinstall? I've had it a while :D

[2022-10-21 10:38] askdesigners commented on #974
Is there a workflow to upgrade to 2.0?

[2022-10-21 10:44] floitsch commented on #974
Let's try to take this offline. Could you chat me, or create a discussion on github.com/toitlang/toit/discussions ?

[2022-10-21 10:56] askdesigners commented on #974
done https://github.com/toitlang/toit/discussions/1139

[2022-11-20 18:55] mikkeldamsgaard commented on #133
@kasperl Should this be closed now?

[2022-11-22 08:20] dsobotta commented on #89
Excellent. I'll take a look this weekend @kasperl !

[2022-11-23 07:14] kasperl commented on #133
Fixed by @mikkeldamsgaard!

[2022-11-23 07:14] #133 closed

[2022-11-23 07:17] kasperl commented on #40
S3 support has landed :)

[2022-11-23 07:17] #40 closed

[2022-11-24 10:51] mikkeldamsgaard commented on #32
Still missing security. The rest is done.

[2022-11-28 17:00] MikAtCosesy opened #1226 "Wrong parameter type for some at.session.Session calls"
The at.session.Session class has helper methods to do different at commands.
They are: action, read, test, and set.
Each of these helper methods create a corresponding at.session.Command object. The at.session.Command objects take a Duration as an input parameter, but the helper classes take a Duration? as a parameter and passes it along without a null check. This can lead to a type-check failure

[2022-11-29 10:15] kasperl commented on #1226
Can you show us a stack trace from where this goes wrong and maybe the SDK version where you see this? It is okay to pass `null` as an argument to a method with a non-nullable parameter if it has a default value.